@font-face {
    font-family: 'PanPizza';
    src: url('panpizza.ttf') format('truetype');
}

body
{
  background-image: url("images/pizza.jpg");
  font-family: 'PanPizza', 'Arial', 'sherif';
}

h1
{
  text-align: center;
  font-size: 4em;
  text-align: center;
}

h2
{
  color: red;
  font-size: 3em;
}

p,ul
{
  font-size: 2em;
}

section
{

  padding: 10px;
}

#informations
{
  display: flex;
}

#lisere
{
  background-color: red;
  float: left;
  border-radius: 10px;
  width: 5%;
  height: 600px;
}

.portrait
{
  float : right;
  border: groove;
  box-shadow: 3px 3px 3px black;
  border-color: red;
}

.description
{
  text-align: center;
}

.lisere
{
  float: left;
}
